*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodybg{
    background-image: url(https://i.ibb.co/FBFWWd0/bgweb.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}