.bg-footer{
    background-color: rgba(0, 0, 0, 0.329);
}

.text-muted{
    font-size: 20px!important;
}

.px-2{
    padding: 10px 30px!important;
    column-gap: 30px!important;
}

.fa-brands{
    padding-right: 10px!important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
  }

.my-4{
    margin-bottom: 0!important;
}