#logovector{
    width: 30%;
    height: auto;
}

.accordion-button{
    background-color: black;
}

.accordion-item {
    background-color: #fff;
    border: 0px;
}

.accordion-button:not(.collapsed), .accordion-body{
    color: white;
    background-color: black;
    border-bottom: 0ch;
}

.accordion-button:focus{
    border-color: black !important;
}

.textaccordion{
    display: flex;
    flex-direction: column;
    padding-top: 3cm;
    padding-bottom: 3cm;
}

.lotoftext{
    text-justify: inter-word;
    padding: 1cm 3cm;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    & div{
        height: 300px;
    }
}

.imagen_galeria{
    width: 100%;
    transition:all .5s ease-in-out;
    margin: 0 auto;
}

.galeria div{
    overflow:hidden;
    &:hover .imagen_galeria {-webkit-transform:scale(1.3);transform:scale(1.3);}
}

