@media screen and (max-width:991px){
    .navbar-nav{
        display: flex !important;
        align-items: center !important;
    }

    .active{
        padding: 2px 10px !important;
    }
    .navbar-toggler{
        border: 0px solid transparent;
        border-radius: 0 !important;
        transition: none !important;
    }
}