@media screen and (max-width:991px){
    .navbar-nav{
        display: flex !important;
        align-items: center !important;
    }

    .active{
        padding: 2px 10px !important;
    }
    .navbar-toggler{
        border: 0px solid transparent;
        border-radius: 0 !important;
        transition: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .cajasconimg{
        flex-direction: column-reverse;
        padding-bottom: 10px;
    }
    #imagen_caja2, #imagen_caja4{
        width: 90%;
        height: auto;
    }

    .col-md-3 .card{
        margin-bottom: 20px;
    }

    .responsivefootericons{
        display: none;
    }

    .lotoftext{
        padding: 1cm 1cm !important;
    }

    .galeria{
        grid-template-columns: 1fr 1fr !important;
    }
      }